<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->

  <ol class="carousel-indicators">

    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>

    <li data-target="#carousel-example-generic" data-slide-to="1"></li>

    <li data-target="#carousel-example-generic" data-slide-to="2"></li>

  </ol>

  <!-- Wrapper for slides -->

  <div class="carousel-inner" role="listbox">

    <div class="item active">

      <%= image_tag "rest_slider1.jpg", html: { alt: "rest_slider1" } %>

      <div class="carousel-caption">

        <h3>Tu mejor punto de encuentro</h3>

        <p>El mejor lugar para ti y tus amigos</p>

      </div>

    </div>

    <div class="item">

      <%= image_tag "rest_slider2.jpg", html: { alt: "rest_slider2" } %>

      <div class="carousel-caption">

        <h3>Nuestros Servicios</h3>

        <p>Con la mejor calidad de Lima </p>

      </div>

    </div>

    <div class="item">

      <%= image_tag "rest_slider3.jpg", html: { alt: "rest_slider3" }%>

      <div class="carousel-caption">

        <h3>La diversion asegurada</h3>

        <p>Todos nos eligen</p>

      </div>

    </div>

  </div>

  <!-- Controls -->

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

    <span class="sr-only">Antes</span>

  </a>

  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

    <span class="sr-only">Siguiente</span>

  </a>

</div>

