<h1> Catalogo Productos</h1>
      
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr class="text-success">
      <th>Cerveza</th>
      <th>Cubalibre</th>
      <th>Mojito</th>
      <th>Pisco Sour</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
 
      <div class="item active">
      <%= image_tag "img1.jpg", html: { alt: "img1.jpg" } %>
     </div>
        <td class="text-info"><%= image_tag "img2.jpg", html: { alt: "img2.jpg" } %></td>
        <td class="text-info"><%= image_tag "img3.jpg", html: { alt: "img3.jpg" } %></td>
        <td></td>
        <td></td>
      </tr>
    
  </tbody>
</table>
