<style>
  body {
    background-color: #F5F5F5;
  }

</style>
<body>
  <p>Hola <%= @resource.email %>!</p>

  <p>
    Comprendemos que te gustaría cambiar tu contraseña. Solo haz en el siguiente enlace y sigue las instrucciones.
    Y recuerda que la contraseña distingue las mayúsculas y las minúsculas.
  </p>

  <p><%= link_to 'Reseetear mi Contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>¿No solicitaste cambiar tu contraseña? Entonces ignora este email.</p>
  <p>Si tienes preguntas, te ayudaremos con mucho gusto. Solo llámanos al 0-800-54979 en cualquier momento.</p>

  <p>Tus amigos Karaoke Fest.</p>
</body>


