
<li><%= link_to "Resgitro cliente", pagesusers_userregistration_path  %></li>
<li><%= link_to "Reserva de sala", pagesusers_reservasala_path  %></li>
<li>
	<%= link_to "Solicitar Pedido", pagesusers_solicitapedido_path  %>
</li>
<li><%= link_to "Solicitar Cancion", pagesusers_solicitacancion_path  %></li>