
<li><%= link_to "Resgitro de Usuario", pagesusers_userregistartion_path  %></li>
<li><%= link_to "Reserva de sala", pagesusers_userregistartion_path  %></li>
<li><%= link_to "Administrador", pagesusers_userregistartion_path  %></li>